html,body {
  height: 100%;
}
ul {
	padding-inline-start: 20px;
	margin-bottom: -10px!important;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.container#generalContainer {
	height: 100%;
	max-width: 100%;
/*	margin: 0;
	padding: 0; */
}

.row#generalRow {
	height: 100%;
}	

#canvasSide {
	border: 1px solid #ff0000;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#canvasSide #imagesWrapper {
	position: absolute;
	height: 400px;
	width: 400px; 
	margin: auto;
	border: 1px solid blue;
	top: 0;
	bottom: 0;
  	left: 0; 
  	right: 0; 
	background-color: #ffffff;
	overflow: scroll;
}

#canvasSide #imagesWrapper #back {
	margin-left: auto;
    width: fit-content;
    padding: 10px;
    line-height: 10px;
}

#canvasSide #imagesWrapper .imageList {
	padding: 10px;
	padding-top: 0;
}

#canvasSide .row {
	width: -webkit-fill-available;
	height: 100%;
	/*flex: 1;*/
}

#canvasSide .canvasWrapper {
	border: 1px solid #0000ff;
	margin: 10px;
	display: flex;
	flex: 1;
}

#canvasSide #showTimeline {
	height: 30px;
	width: 70px;
	bottom: 0;
	margin: -30px auto 0 auto;
	border: 1px solid #000000;
}

#canvasSide .row#timelineWrapper {
	position: absolute;
	height: 20%;
	width: 100%;
	border: 1px solid #00ff00;
	bottom: 0;
	display: none;
}

#canvasSide #timelineWrapper .timelineContainer {
	display: flex;
	padding: 10px;
	height: 100%;
	width: inherit;
	border: 1px solid #000000;
}

#canvasSide #timelineWrapper .timelineContainer #play-stop {
	border: 1px solid #ff0000;
}

#canvasSide #timelineWrapper .timelineContainer #spriteContainer {
	border: 1px solid #0000ff;
	padding: 5px;
	overflow: scroll;
	position: relative;
}

#canvasSide #timelineWrapper #spriteContainer #canvas2 {
	height: 100%;
	margin-bottom: -7px;
}

#optionsSide {
	border: 1px solid #00ff00;
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

#optionsSide .structure {
	border: 1px solid #ff0000;
	text-align: center;
	padding: 10px 5px;
	width: 100%;
}

#optionsSide #treeStructure {
	flex: 1;
	border: 1px solid #0000ff;
	max-height: 50%;
}

#optionsSide #treeStructure .listNodes {
	padding: 0;
	overflow: scroll;
	margin-bottom: 0;
	max-height: 100%;
}

#optionsSide #treeStructure .listNodes li {
	margin-left: 10px;
}

#optionsSide #treeStructure .listNodes .ul-element {
	margin-left: -5px;
	display: initial;
}

#optionsSide #treeStructure .listNodes .hasChildren {
	margin-bottom: -30px!important;
}

#optionsSide .row#spriteStructureContainer, #optionsSide .row#characterImage {
	flex: 1;
}

#optionsSide #spriteStructureContainer .structureOption,
#optionsSide #characterImage .structureOption {
	border: 1px solid #0000ff;
	font-size: 14px;
	margin-bottom: 10px;
}
#optionsSide #characterImage .structureOption {
	margin-bottom: 0;
}
