html,body {
  height: 100%;
}
ul {
	padding-inline-start: 20px;
	margin-bottom: -10px!important;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.container#generalContainer {
	height: 100%;
	max-width: 100%;
/*	margin: 0;
	padding: 0; */
}

.row#generalRow {
	height: 100%;
}	

#canvasSide {
	background-color: #919b97;
	display: flex;
	flex-direction: column;
	height: 100%;
}
/*
#canvasWrapper #canvas {
	display: none;
}
*/
#canvasWrapper #previewCanvas {
	position: absolute;
	display: none;
	max-height: 400px;
	max-width: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 5px solid #f4d44c;
	box-shadow: 0px 0px 90px 0px rgba(0,0,0,0.2);
}

#canvasWrapper #previewCanvas #backPreview {
	position: absolute;
	right: 0;
	margin-right: 10px;
}

#canvasWrapper #animation {
	max-width: inherit;
	max-height: inherit;
}

#canvasSide #imagesWrapper {
	display: none;
	position: absolute;
	height: 400px;
	width: 400px; 
	margin: auto;
	border: 1px solid blue;
	top: 0;
	bottom: 0;
  	left: 0; 
  	right: 0; 
	background-color: #ffffff;
	overflow: scroll;
}

#canvasSide #imagesWrapper #back {
	margin-left: auto;
    width: fit-content;
    padding: 10px;
    line-height: 10px;
}

#canvasSide #imagesWrapper .imageList {
	padding: 10px;
	padding-top: 0;
}

#canvasSide .row {
	width: -webkit-fill-available;
	height: 100%;
	/*flex: 1;*/
}

#canvasSide .canvasWrapper, #canvasSide #optionsTop {
	
	margin: 10px;
	display: flex;
	margin-top: 30px;
}

#canvasSide .canvasWrapper {
	flex: 1 1 auto;
	background-color: #ffffff;
}



#canvasSide #optionsTop {
	height: 30px;
	position: absolute;
	margin : 0;
	width: -webkit-fill-available;
	background-color: #eaad32;
}

#canvasSide #optionsTop .optionsTopItems {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #eaad32;
	color: #f1f1f0;
	border-right: 1px solid #f4d44c;
	line-height: 30px;
}
#canvasSide #optionsTop .optionsTopItems:hover,
#canvasSide #optionsTop .optionsTopItems.selected {
	background-color: #f4d44c;
	border-right: 1px solid #eaad32;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.icon_play_stop {
	margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#canvasSide #showTimeline {
	height: 30px;
	width: 70px;
	bottom: 0;
	margin: -30px auto 0 auto;
	background-color: #f4d44c;
	border: 1px solid #eaad32;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

#canvasSide .row#timelineWrapper {
	position: absolute;
	height: 20%;
	width: 100%;
	border: 1px solid #f4d44c;
	background-color: #eaad32;
	bottom: 0;
	display: none;
}

#canvasSide #timelineWrapper .timelineContainer {
	display: flex;
	padding: 10px;
	height: 100%;
	width: inherit;
}

#canvasSide #timelineWrapper .timelineContainer #play-stop {
	border: 1px solid #eaad32;
	background-color: #f4d44c;
}
#canvasSide #timelineWrapper .timelineContainer #play-stop:hover {
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
#canvasSide #timelineWrapper .timelineContainer #spriteContainer {
	border: 1px solid #eaad32;
	background-color: #dcd1b6;
	padding: 5px;
	overflow: scroll;
	position: relative;
}

#canvasSide #timelineWrapper #spriteContainer #canvas2 {
	height: 100%;
	margin-bottom: -7px;
	background-color: #ffffff;
}

#optionsSide {
	color: #52514e;
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

#optionsSide .structure {
	background-color: #dcd1b6;
	border: 1px solid #f4d44c;
	text-align: center;
	padding: 10px 5px;
	width: 100%;
}

#optionsSide .structure#characterStructure, #optionsSide .structure#imageStructure, 
	#optionsSide .structure#spriteStructure {
	background-color: #ffffff;
}

#optionsSide #treeStructure {
	flex: 1;
	background-color: #dcd1b6;
	max-height: 50%;
}

#optionsSide #treeStructure .listNodes {
	padding: 0;
	overflow: scroll;
	margin-bottom: 0;
	max-height: 100%;
}

#optionsSide #treeStructure .listNodes li {
	margin-left: 10px;
}

#optionsSide #treeStructure .listNodes .ul-element {
	margin-left: -5px;
	display: initial;
}

#optionsSide #treeStructure .listNodes .hasChildren {
	margin-bottom: -30px!important;
}

#optionsSide .row#spriteStructureContainer, #optionsSide .row#characterImage {
	flex: 1;
}

#optionsSide #spriteStructureContainer .structureOption,
#optionsSide #characterImage .structureOption,
#optionsSide #characterImage #characterPutImage + label {
	background-color: #eaad32;
	color: #f1f1f0;
	border-right: 1px solid #f4d44c;
	font-size: 14px;
	margin-bottom: 10px;
	display: block;
}

#optionsSide #spriteStructureContainer .structureOption:hover,
#optionsSide #characterImage .structureOption:hover,
#optionsSide #characterImage #characterPutImage + label:hover {
	background-color: #f4d44c;
}
#optionsSide #characterImage .structureOption:last-of-type {
	margin-bottom: 0;
}

#optionsSide #characterImage #characterPutImage {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
