
html,body {
  height: 100%;
}
canvas {
	border: 1px solid black;
	flex: 1;
}
.wrapper {
	display: flex;
	height: -webkit-fill-available;
	flex-direction: column;
	background-color: #040F0F;
}
#overlayContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	background-color: #2D3A3A;
	left: 0;
	margin-top: 0;
	position: absolute;
	width: -webkit-fill-available;
}
.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-bottom: 10px;
}

.row {
	border: 1px solid red;
	margin: 0;
	background-color: #ffffff;
}

.canvasWrapper {
	flex: 1;
}

#canvas {
	flex: 1 100%;
	background-color: #FCFFFC;
}
#optionsWrapper {
	padding-bottom: 0;
	flex-direction: row;
}
.option {
	border: 1px solid green;
	padding: 5px 10px;
	width: fit-content;
}
.option#first {

}
.back {
	width: 20px;
	height: 20px;
	margin-left: auto;
	margin-top: 0;
	text-align: center;
	cursor: pointer;
}
#imagesWrapper {
	z-index: 3;
	height: 400px;
	width: 400px;
	position: absolute;
	border: 1px solid blue;
	top: 0;
	bottom: 0;
  	left: 0; 
  	right: 0; 
  	margin: auto; 
	display: none;
	background-color: #ffffff;
	overflow: scroll;
}
.imageList {
	padding: 10px;
}
#overlayPointLine {
	padding: 0 0 10px 10px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #ffffff;
	width: -webkit-fill-available;
	height: -webkit-fill-available; 
	text-align: center;
}
.imageElement {
	border: 1px solid pink;
}
#new-skeleton {
	position: absolute;
	text-align: center;
	height: 1px;
	top: 0;
	bottom: 0;
  	left: 0; 
  	right: 0; 
  	margin: auto; 
}
.optionPointLine {
	display: flex;
	border: 1px solid green;
	padding: 20px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	height: fit-content;
	width: fit-content;
}
#onPoint {
	/*float: left;*/
	/*margin-left: 30px;*/

}
#onLine {
	/*float: right;*/
	right: 0;
	margin-left: auto;
	margin-right: 40px;
}

